@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2196f3;
}

.Btn{
    position: relative;
    padding: 15px 20px;
    background: #ffffff;
    font-size: 18px;
    display:inline-block;
    text-decoration: none;
    color: #03a9f4;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition:0.5s;
}

.Btn:hover{
    letter-spacing: 4px;
}

#popup{
    position:fixed;
    top: -100%;
    left: 50%;
    transform:translate(-50%,-50%);
    z-index: 1000;
    background: #fff;
    width: 450px;
    padding: 80px 50px 50px;
    box-shadow: 0 15px 30px rgb(0,0,0,0.08);
    transition:0.5s;
    visibility:hidden;
}

#popup.active{
    visibility: visible;
    top: 50%;
}

#popup .content{
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#popup .content img{
    max-width:80px;
}

#popup .content h2{
    font-size: 24px;
    font-weight: 500;
    color: #333;
    margin: 20px 0 10px;
}
#popup .content p{
    text-align: center;
    font-size:16px;
    color: #333;
}

#popup .content .inputbox{
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup .content .inputbox input{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 15px;
    font-size: 18px;
}
#popup .content .inputbox input[type="submit"]{
    max-width:150px;
    background: #03a9f4;
    color: #fff;
    border: none;
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.Datos_Perdidos
{
    font-size: 100px;
    color: #D03737;
}

.Datos_Encontrados
{
    font-size: 100px;
    color: greenyellow;
}

.Btnquitar{
    display: none;
}